@import "/src/css/colors.scss";
@import "/src/css/text-styles.scss";
@import "/src/css/variables.scss";

.container {
  width: 55rem;
  height: 17rem;
  background-color: $blueThree;
  opacity: 0.9;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  padding: 0 2rem 0 4rem;
  box-shadow: 0px 7.07671px 24.7685px -5.30753px $darkTwo, 0px 15.9226px 77.8438px -3.53836px $darkTwo;
}

.close {
  margin-top: 2rem; 
  width: 5.5rem; 
  fill: $whiteTwo;
  width: 20px;
  height: 21px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 6.3rem;
}

.linkLogoXl {
  background-color: $neutral100;
  max-height: 99px;
  max-width: 97px;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.textNewsletter {
  width: 32rem;
}

.subscribeContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputNewsletter {
  height: 2.5rem;
  width: 19rem;
  border-color: transparent;
  border-radius: 0.2rem 0 0 0.2rem;
  outline: none;
}

.inputNewsletter::placeholder {
  padding-left: 1rem;
}

.buttonNewsletter {
  width: 12.7rem;
  height: 2.5rem;
  background-color: $xlPink;
  border-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .container {
    width: 22rem;
    height: 33rem;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .logoContainer {
    height: 33%;
  }

  .informationContainer {
    max-width: 19rem;
    margin-left: 0;

    h2 {
      margin-top: 0;
      text-align: center;
      width: 18rem;
    }
  }

  .textNewsletter {
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }

  .subscribeContainer {
    flex-direction: column;
    width: 100%;
    align-self: center;

    .inputNewsletter {
      margin-bottom: 1rem;
      border-radius: 0.2rem;
    }
  }

  .buttonNewsletter, .inputNewsletter {
    width: 100%;
  }

  .close {
    position: absolute;
    left: 16rem;
    margin-top: 1.5rem;
  }
}
