@import "/src/css/colors.scss";
@import "/src/css/variables.scss";

.linkTextContainer {
  margin: 10px 0 10px 50px;
  display: inline-block;
  text-decoration: none;
}

.link {
  font-family: $primary-font;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
}

.link:hover {
  color: $grayTwo;
}
