@import "../../css/colors.scss";

.linkMenu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 10px 0 10px 50px;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  display: inline-block;
}
