@import "../../css/text-styles.scss";
@import "../../css//colors.scss";

.container {
  width: 100%;
  position: absolute;
}

.menuOpen {
  height: 49rem;
  background-color: white;
}

.buttonIconStyles {
  background-color: transparent;
  border: transparent;
  margin-top: 2.5rem;
  margin: 2.5rem 1.8rem 0 0;
}

.buttonIconPosition {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.openButton {
  display: none !important;
}

.menuOptions {
  @extend .text__heading__one__big__black;
  margin: 2rem 0 0 1.9rem;
  display: flex;
  flex-direction: column;
}
