@import "../../css//colors.scss";
@import "../../css/variables.scss";

// General Container

.container {
  width: 100%;
  position: absolute;
}

// Menu Buttons

.openMenu {
  height: 60rem;
  background-color: $neutral100;
}

.buttonIconStyles {
  background-color: transparent;
  border: transparent;
  margin-top: 2.5rem;
  margin: 2.5rem 5% 0 0;
}

.buttonIconPosition {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.openButton {
  display: none;
}

// Menu

.menuContainer {
  margin: 10% 0 0 5%;
}

.menuOptions {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-bottom: 1.5rem;

  h5 {
    font-weight: bolder;
  }
}

.partnerContainer {
  margin-top: 3rem;
  font-family: $primary-font;
}

.partnerButton {
  width: 14rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $xlPink;
  color: $neutral100;
  margin: 1.5rem 0 4rem;
  text-decoration: none;
  font-family: $link-font;

}

.socialContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: static;

  a:nth-child(2n+0) {
    margin: 0 2rem;
  }  
}

.closeIconMobile {
  fill: $blueThree;
  width: 1.5rem;
}
