@import "/src/css/variables.scss";
@import "/src/css/colors.scss";

.container {
  margin: 5% 7% 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 4rem 3.4rem;
}

@media only screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .container {
    margin: 5rem 0rem;
    gap: 4rem 0;
    display: grid;
    grid-template-columns: auto;
  }
}
