@import '/src/css/variables.scss';
@import '/src/css/text-styles.scss';
@import '/src/css/colors.scss';

.filterContainer {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (min-width: 992px) {
    margin: 8rem 0 5rem 0;
    gap: 6%;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 992px) {
    gap: 3rem;
    margin: 3rem 0 1.5rem 0;
    padding: 0 2rem 0.5rem 2rem;
    overflow-x: auto;
  }
}

.filterElement {
  font-family: $primary-font, serif;
  font-weight: 500;
  letter-spacing: 1px;
  list-style: none;
  text-decoration: none;
  width: fit-content;
  color: $grayFive;
  @include text__filter;
}

.filterElement:hover {
  cursor: pointer;
  color: $xlPink;
}

.selectedFilterElement {
  color: $xlPink;
  border-bottom: 2px solid $xlPink;
  text-align: center;
}

.container {
  margin: 0 16% 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
  gap: 4rem 4rem;
}

@media only screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .container {
    margin: 0;
    gap: 4rem 0;
    grid-template-columns: auto;
  }
}
