@import '/src/css/colors.scss';
@import '/src/css/variables.scss';

.moreFromXlContainer {
  background-color: $blueSix;
  margin-top: 4rem;
  padding: 0 16%;
}

.titleStyle {
  text-decoration: none;
}

.titleContainer {
  margin: 0 0 4rem 0;
  padding-top: 4rem;
  a {
    font-family: $link-font;
  }
}

.title {
  color: $xlPink;
}

.blogsContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 92.5rem;
  margin: auto;
  max-width: 100%;
  gap: 5rem;
}

.cardStyles {
  width: 30%;
  margin-bottom: 5rem;

  p {
    position: absolute;
    top: 13.5rem;
  }
}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: xxl)) {
  .moreFromXlContainer {
    padding: 0 5%;
  }
}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .blogsContainer {
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 0;
  }

  .titleContainer {
    margin: 0 0 4rem 0;
  }

  .titleStyle {
    line-height: 2rem;
    font-size: 1.4rem;
  }

  .cardStyles {
    width: 100%;
    margin-bottom: 3rem;

    article {
      width: 100%;
    }

    p {
      top: 74%;
    }

    article div {
      margin-bottom: 1.5rem;
    }
  }
}
