@import "../../css/variables.scss";
@import "../../css/text-styles.scss";

// Containers

.heightContainer {
  width: 20%;
  margin-right: 5%;
  align-items: flex-start;
  flex-direction: row;
  scroll-behavior: smooth;
  position: fixed;
  top: 22%;
  height: 70vh;
}

.indexSubContainer {
  position: fixed;
  top: 22%;
  width: 20%;
  margin-right: 5%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 76vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

// Arrows

.topArrow {
  padding: 2rem 1rem 0;
  transform: rotate(180deg);
}

.bottomArrow {
  padding: 0 1rem 0;
}

.topArrow, .bottomArrow {
  width: auto;
  height: auto;
}

// Links and index

.disappearIndex {
  display: none;
}

.selectedLink {
  font-weight: $font-bold;
  background-image: url("/images/index-blog-dot.png");
  background-position: 0 0.4rem;
  background-size: 0.5rem 0.5rem;
  background-repeat: no-repeat;
}

.links {
  @extend .text__big__links__blueTwo;
  text-decoration: none;
  font-family: $primary-font;
  padding-bottom: 2.5rem;
  height: auto;
  overflow: hidden;
  padding-left: 1.5rem;
  width: 100%;
}

// Media

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .indexSubContainer {
    display: none;
  }
}

@media screen and (max-height: map-get($map: $screen-breakpoint, $key: md)) {
  .indexSubContainer {
    margin-top: 3%;
  }

  .arrow {
    margin-top: 1%;
  }
}
