.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14.8%;
  position: fixed;
  top: 16rem;
}

.socialIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.facebookSpace {
  margin: 1.5rem;
}

.sharePosition {
  align-self: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
