@import "../../css/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 2rem;
}

.title {
  font-family: $primary-font;
  font-weight: 700;
  letter-spacing: 0.4375rem;
}
