@import '/src/css/colors.scss';
@import '/src/css/variables.scss';
@import '/src/css/variables.scss';

.categoryWrapper {
  border: 0;
  border-radius: 6.49875px;
  height: 1.4rem;
  margin-right: 2rem;
  text-align: center;
  font-family: $primary-font, serif;
}
