backend:
  name: git-gateway
  repo: xmartlabs/xl-blog
  branch: main
  auth_endpoint: auth
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

local_backend: true


media_folder: static/images
public_folder: /images

# extension: "mdx"
# format: "frontmatter"

# media_folder: src/images
# public_folder: public/assets

publish_mode: editorial_workflow

collections:
  - name: "blog"
    label: "Blog"
    folder: "blogs"
    extension: md
    format: frontmatter
    create: true
    fields:
      - { name: title, label: Title, required: true, pattern: ['.{12,}', "Must have at least 12 characters"] }
      - { name: subtitle, label: Subtitle, widget: string }
      - { name: permalink, label: Permalink, required: true, pattern: ['.{12,}', "Must have at least 12 characters"] }
      - { name: featured, label: "Featured Post", widget: boolean, default: false }
      - { name: date, label: Date, widget: datetime, format: "YYYY-MM-DD" , date_format: "YYYY-MM-DD" , time_format: false, picker_utc: true }
      - name: category
        label: Category
        widget: "select"
        options:
          - { label: "People", value: "people-events" } 
          - { label: "Design", value: "product-design" }
          - { label: "Development", value: "development" }
          - { label: "Machine Learning", value: "machine-learning" }
          - { label: "Data Engineering", value: "data-engineering" }
          - { label: "iOS Development", value: "ios-development" }
          - { label: "Android Development", value: "android-development" }
      - label: "Thumbnail Image"
        hint: "image ratio must be .... "
        name: "thumbnail"
        widget: "image"
        choose_url: true
        # media_folder: images
        # default: "/uploads/chocolate-dogecoin.jpg"
        media_library:
          config:
            multiple: false
      - { name: tags, label: Tags, widget: "list", max: 5, min: 1 }
      - name: author
        label: Author
        widget: "select"
        options:
          - { value: "mtnBarreto", label: "Martin Barreto" }
          - { value: "agustin", label: "Agustin Hernandez" }
          - { value: "dernst", label: "Diego Ernst" }
          - { value: "esanchez", label: "Ezequiel Santiago Sanchez" }
          - { value: "enrique", label: "Enrique Galindo" }
          - { value: "alberto", label: "Alberto Attia" }
          - { value: "maximo", label: "Maximo Mussini" }
          - { value: "mathias", label: "Mathias Claassen" }
          - { value: "santiago", label: "Santiago Castro" }
          - { value: "helen", label: "Helen Olhausen" }
          - { value: "remer", label: "Miguel Revetria" }
          - { value: "mirland", label: "Matías Irland" }
          - { value: "mcousillas", label: "Mauricio Cousillas" }
          - { value: "xl", label: "Xmartlabs Team" }
          - { value: "felipe", label: "Felipe de León" }
          - { value: "mlorenzo", label: "Matías Lorenzo" }
          - { value: "jrocco", label: "Joaquín Rocco" }
          - { value: "pbt", label: "Rodrigo Bayá" }
          - { value: "bruno", label: "Bruno Ferrari" }
          - { value: "nicoh", label: "Nicolas Hernandez" }
          - { value: "ceci", label: "Cecilia Pirotto" }
          - { value: "arsu", label: "Rodrigo Arsuaga" }
          - { value: "tabu", label: "Jorge Gonzalez" }
          - { value: "renzo", label: "Renzo Gambone" }
          - { value: "fer-barrios", label: "Fernanda Barrios" }
          - { value: "nicolantean", label: "Nicolás Lantean" }
          - { value: "emi", label: "Emiliano Botti" }
          - { value: "robert", label: "Roberto Sosa" }
          - { value: "sante", label: "Agustín Santellán" }
          - { value: "edu", label: "Eduardo Ferreira" }
          - { value: "andresh", label: "Andrés Herrera" }
          - { value: "vale", label: "Valentina Bianco" }
          - { value: "pablog", label: "Pablo Grill" }
          - { value: "lazaro", label: "Lázaro Martín" }
          - { value: "alemachado", label: "Ale Machado"}
          - {value: "coti", label: "Coti Besozzi"}
          - {value: "sofitechera", label: "Sofia Techera"}
          - {value: "jsanchez", label: "Joaquín Sánchez"}
          - {value: "sol-mendiola", label: "Sol Mendiola"}
          - {value: "andres-zunini", label: "Andrés Zunini"}
          - {value: "christian-casaran", label: "Christian Casaran"}
          - {value: "solo", label: "Juan Oliu"}
          - {value: "belu", label: "Belen Carozo"}
          - {value: "maximol", label: "Maximo Lionello"}
      - { name: body, label: Body, widget: markdown }
    identifier_field: title


   






