@import "/src/css/colors.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.imageContainer {
  position: relative;
  padding-top: 56.6%;
  display: block;
  margin-bottom: 1.5rem;
  width: 110%;
}

.styledImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3%;
  object-fit: cover;
  object-position: 41%;
}

.styledLink {
  text-decoration: none;
}

@media only screen and (max-width:50rem) {
  .container { 
    width: 96%;
  }

  .styledLink {
    display: flex;
    justify-content: center;
  }

  .imageContainer {
    width: 100%;
  }
}
