@import "/src/css/colors.scss";
@import "/src/css/variables.scss";
@import "/src/css/text-styles.scss";

.container {  
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.imageContainer {
  display: block;
  margin-bottom: 1.5rem;
  position: relative;
  padding-bottom: 56.25%;

  p {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}

.blogListCategory {
  @extend .text__category__bold__blueOne;
  border: 1.5px solid $neutral100;
  background-color: $neutral100;
  height: 1.8rem;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.styledImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3%;
  object-fit: cover;
  object-position: left;
}

.styledLink {
  text-decoration: none;
  transition: all .2s cubic-bezier(.25,.46,.45,.94);

  h1 {
    @extend .text__heading__two__separated__blueOne;
    font-family: $link-font;
  }
}

.styledLink:hover {
  h1 {
    color: $xlPink;
  }
  transform: translateY(-15px);
}

@media only screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .container {
    width: 90%;

    h1 {
      font-size: 1.4rem;
    }
  }

  .styledLink {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .imageContainer {
    width: 100%;
    padding-bottom: 43%;
  }
}
