@import "../../css/colors.scss";

.list-node {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 22.4rem;
}

.styled-image {
  border-radius: 3%;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 15.3rem;

  @media screen and (max-width:50rem) {
    height: 8.125rem;
  }
}

.styled-link {
  text-decoration: none;
  color: $black;
  font-size: 1.875rem;

  @media screen and (max-width:50rem) {
    font-size: 1.375rem;
  }
}
