@import '../../css/colors.scss';

.moreFromXlContainer {
  background-color: $blueThree;
  height: 50rem;
}

.titleStyle {
  text-decoration: none;
  margin-left: 8.5rem;
}

.titleContainer {
  padding-top: 6rem;
}

.blogsContainer {
  
}
