@import '../css/colors.scss';
@import '../css/variables.scss';

.page {
  display: flex;
  flex-direction: row;
  margin: 7rem 0 2rem 2.5rem;
  justify-content: center;
  align-items: center;
}

.heading {
  color: $xlPink;
  font-family: $link-font;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.link {
  margin-top: 2rem;
}

.img {
  width: 31rem;
}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: sm)) {
  .page {
    flex-direction: column;
    margin: 0;
    margin-top: 5rem;
  }

  .img {
    max-height: 14rem;
    margin-bottom: 2rem;
  }

  .subContainer {
    margin-left: 1rem;
  }

  .link {
    margin: 3rem 0 5rem 0;
  }
}
