@import "../../css/variables.scss";
@import "../../css/colors.scss";
@import "../../css/text-styles.scss";

// Container

.container {
  background-color: $blueSix;
  height: 80vh;
  max-height: 47rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-size: 15%;
  background: radial-gradient(circle at right, rgb(219, 255, 0) -3%, rgb(244, 247, 252) 17%);
  background-repeat: no-repeat;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  padding-left: 16%;
  font-family: $primary-font;

  h1 {
    @extend .text__heading__one__big__xlPink;
    width: 60%;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
  }

  p {
    @extend .text__heading__two__xlPink;
    font-weight: normal;
    text-transform: uppercase;
    width: auto;
  }
}

.bottomTextContainer {
  background-color: #DBFF00;
  height: 3.125rem;
  width: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  bottom: 20%
}

.bottomTextSubContainer {
  @extend .text__header__categories__blueTwo;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  letter-spacing: 0.11rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  animation: category-move 15s linear infinite;
  -webkit-animation: category-move 15s linear infinite;
  justify-content: flex-end;
  margin-top: 0.2rem;
  position: relative;
  gap: 2rem;

  span {
    @extend .text__header__categories__blueTwo;
    margin: 0;
  }
}

@keyframes category-move {
  0% {
    left: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


// Components

.pinkCircle,.pinkCircle:after{ 
  display: block;
}

.pinkCircle {
  width: fit-content;
  height: fit-content;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 25s;
  animation-name: pink-cirlce-move;
  position: absolute;
  top: 20%;
  left: 58%;
}

@keyframes pink-cirlce-move{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}

@media screen and (max-height: map-get($map: $screen-breakpoint, $key: md)) {
  .textContainer {
    padding-left: 15%;
  }

  .contentContainer {
    background: radial-gradient(circle at right, rgb(219, 255, 0) -15%, rgb(244, 247, 252) 25%);
  }

}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: xs)) {
  .container {
    height: auto;
  }

  .pinkCircle {
    display: none;
  }

  .textContainer {
    padding-left: 5%;
    margin: 7rem 0;

    h1 {
      font-size: 2.875rem;
      line-height: 3rem;
      width: 100%;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.625rem;
      width: 100%;
    }
  }

  .contentContainer {
    background: radial-gradient(circle at right, rgb(219, 255, 0) -60%, rgb(244, 247, 252) 50%);
  }

  .bottomTextContainer {
    top: 30.6rem
  }

  .bottomTextSubContainer {
    font-size: 1.125rem;
    line-height: 1.625rem;
    letter-spacing: 0.0675rem;
  }
}
