@import "/src/css/colors.scss";

// Header Blog Elements

.bannerContainer {
  padding: 5rem 50rem 28rem 17rem;
}

.titleContainer {
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: bold;
  margin: 3rem 0 5rem;
}

.authorContainer {
  width: 100%;
  max-height: 5.5rem;
}

.authorInformation {
  display: flex;
  flex-direction: row;
}

.authorImage {
  border-radius: 10px;
  margin-right: 2rem;
  width: 5.5rem;
  height: 100%;
}

.authorName {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 600;
  color: $black;
  text-decoration: none;
}

.postDate {
  color: $info-post;
  line-height: 1.3rem;
  font-weight: 900;
  font-size: 1.1rem;
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 1.7rem;
}

// Blog body

.bodyPostContainer {
  padding: 5rem 20rem 10rem;
  color: $letterBlue;
  text-align: justify;
  font-size: 1.1rem;
  background-color: $neutral100;

  h1 {
    font-size: 2.2rem;
    margin: 3rem 0;
  }

  h2 {
    font-size: 1.9rem;
    margin: 3rem 0 2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin: 2rem 0 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
    margin: 1.5rem 0 1rem;
  }

  h1, h2, h3, h4 {
    color: $black;
    font-weight: bold;
  }

  p img {
    margin: 0rem;
  }

  p {
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  ul, li {
    margin: 0rem 1.5rem 1rem;
  }

  a {
    color: $letterBlue;
  } 

  aside {
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin: 3rem 0 2rem;
  }

  figure {
    width: 100%;
    height: 100%;

    img {
      min-width: 100%;
    }
  }

  img {
    width: 100%;
    height: 23rem;
    border-radius: 5px;
    display: block;
    margin: auto;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    
    img {
      width: 48%;
      margin: 0;
    }

    img ~ img {
      margin-left: 4%;
    }

    iframe {
      width: 100%;
      height: 42rem;
    }
  }

  table {
    margin: auto;
    font-size: 1.1rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
    border-collapse: collapse;

    th, td {
      border: 1px solid black;
      padding: 0.5rem;
    }

    img {
      max-width: 100%;
    }
  }

  pre {
    margin-bottom: 2rem;
    white-space: pre-wrap;
    word-break: break-all;
  }
}

@media screen and (max-width: 768px) {
  .bannerContainer {
    min-height: 100%;
    padding: 2rem 1rem 16.8rem 1rem;
  } 

  .titleContainer {
    margin: 2rem 0;
  }

  .postDate {
    justify-content: start;
    bottom: 0;
    margin-top: 2rem;
  }

  .bodyPostContainer {
    padding: 5rem 1rem 8rem;

    img {
      height: 16rem;
    }

    div {
      flex-direction: column;

      img {
        width: 100%;
      }

      img ~ img {
        margin: 3rem 0 0;
      }

      iframe {
        height: 15rem;
      }
    }

    table {
      display: block;
      overflow-x: scroll;

      img {
        max-width: 100%;
      }
    }
  }
}
