@import "/src/css/colors.scss";
@import "/src/css/text-styles.scss";
@import "/src/css/variables.scss";

// Social Media

.socialDisappear {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.socialDisappear::after {
  display: none;
}

.socialAppear {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 100;
}

.socialBottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 34rem;
}

.socialBottom {
  display: flex;
  flex-direction: row;
  position: static;
  align-items: center;
}

.sharePosition {
  align-self: center;
  margin-right: 1rem;
}

.blogIcons {
  a {
    display: flex;
    align-items: center;
    margin: 0.7rem;
  }
}

// Header Blog Elements

.bannerContainer {
  padding: 0rem 50rem 28rem 17rem;
  position: absolute;
  top: 10rem;
}

.titleContainer {
  margin: 3rem 0;
}

.authorContainer {
  width: 100%;
  max-height: 5.5rem;
}

.authorInformation {
  display: flex;
  flex-direction: row;
}

.authorImage {
  border-radius: 10px;
  margin-right: 2rem;
  width: 5.5rem;
  height: 100%;
}

.authorName {
  text-decoration: none;
}

.postDate {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 1.7rem;
}

// Blog body

.bodyPostContainer {
  padding: 5rem 38rem 2rem 17rem;
  text-align: justify;
  font-family: $blog-font;

  h1 {
    @extend .text__heading__one__black;
    margin: 3rem 0;
  }

  h2 {
    @extend .text__heading__two__black;
    margin: 3rem 0 2rem;
  }

  h3 {
    @extend .text__heading__three__black;
    margin: 2rem 0 1.5rem;
  }

  h4 {
    @extend .text__heading__four__black;
    margin: 1.5rem 0 1rem;
  }

  p img {
    margin: 0rem;
  }

  p {
    @extend .text__paragraph__blueTwo;
    margin-bottom: 2rem;
  }

  ul, li {
    margin: 0rem 1.5rem 1rem;
  }

  a {
    @extend .text__link__blog__blueTwo;    
  } 

  aside {
    @extend .text__paragraph__two__blueTwo;
    text-transform: uppercase;
    margin: 3rem 0 2rem;
    border-left: 0.3rem solid $xlPink;
    padding-left: 2rem;
  }

  figure {
    width: 100%;
    height: 100%;

    img {
      min-width: 100%;
    }
  }

  img {
    width: 100%;
    max-height: 30rem;
    border-radius: 5px;
    display: block;
    margin: auto;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
    
    img {
      width: 48%;
      margin: 0;
    }

    img ~ img {
      margin-left: 4%;
    }

    iframe {
      width: 100%;
      height: 42rem;
    }
  }

  table {
    font-family: $primary-font, serif;
    margin: auto;
    margin-bottom: 2rem;
    border-collapse: collapse;
    word-break: break-all;
    width: 100%;

    tbody th, td {
      @extend .text__paragraph__two__blueTwo;
      border: none;
      padding: 1rem 1rem;

    }

    thead {
      @extend .text__heading__four__blueTwo;
      background-color: $yellowOne;

      th {
        padding: 1rem 0rem 1rem 1rem;
      }

      :last-child {
        padding-right: 1rem;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: $blueFour;
      }
  
      tr:nth-child(odd) {
        background-color: $blueFive;
      }
    }

    tr {
      height: 5rem;
    }

    img {
      max-width: 100%;
    }
  }

  pre {
    @extend .text__paragraph__neutral100;
    margin-bottom: 2rem;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: $blueSix;
    padding: 3rem;
    font-family: $code-font;
  }
}

// Responsive Design

@media screen and (max-width: 768px) {
  .bannerContainer {
    min-height: 100%;
    padding: 2rem 1rem 16.8rem 1rem;
  } 

  .titleContainer {
    margin: 2rem 0;
  }

  .postDate {
    justify-content: start;
    bottom: 0;
    margin-top: 2rem;
    position: static;
  }

  .bodyPostContainer {
    padding: 0rem 1rem 8rem;
    margin-top: 3rem;

    img {
      max-height: 16rem;
    }

    div {
      flex-direction: column;

      img {
        width: 100%;
      }

      img ~ img {
        margin: 3rem 0 0;
      }

      iframe {
        height: 15rem;
      }
    }

    table {
      display: block;
      overflow-x: scroll;
      
      td {
        padding: 0 0 0 1rem;
      }

      img {
        max-width: 100%;
      }
    }

    pre {
      padding: 1rem;
    }
  }

  .socialBottomContainer {
    justify-content: start;
    padding: 0 0 0 1rem;
  }
  
  .socialBottom {
    width: auto;
  }
}
