// Pink
$xl-pink: #EE1A64;

// Yellow
$default-yellow: #F6C14D;

// Gray
$default-gray: #858585;
$info-post: #9B9B9B;
$disabled-gray: #B6B6B6;

// Dark
$black: #000000;
$footer-container: #161616;

// White
$neutral100: #fff;


// Blue
$blueAside: #3174FF;
$letterBlue: #233354;
