// Pink
$xlPink: #EE1A64;
$xlPinkTwo: #F8A0BF;

// Yellow
$defaultYellow: #F6C14D;

// Gray
$defaultGray: #858585;
$grayTwo: #9B9B9B;
$disabledGray: #B6B6B6;

// Dark
$black: #000000;
$darkOne: #161616;

// White
$neutral100: #fff;


// Blue
$blueOne: #3174FF;
$blueTwo: #233354;
