// Pink
$xlPink: #ee1a64;
$xlPinkTwo: #f8a0bf;
$xlPinkThree: #f72971;

// Yellow
$defaultYellow: #f6c14d;
$yellowOne: #ddff0080;
$yellowThree: #dbff00;

// Gray
$defaultGray: #858585;
$grayTwo: #9b9b9b;
$disabledGray: #b6b6b6;
$grayThree: #cac9cb;
$grayFour: #bbbbbb;
$grayFive: #5e5e5e;
$graySix: #8f8f8f;

// Dark
$darkTwo: #18274b1e;
$darkThree: #000000d9;

// White
$neutral100: #fff;
$whiteTwo: #f4f6fb;

// Blue
$blueOne: #222831;
$blueFour: #75ffff1a;
$blueFive: #75ffff33;
$blueSix: #f4f7fc;
