.container {
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
  height: 38rem;
  background-color: #161616;
  flex-direction: column;
  align-items: center;
}

.divider {
  border-color: #646464;
  width: 85%;
  position: absolute;
  bottom: 0;
}

.newsletter-text {
  color: #858585;
  font-size: 27px;
}

.text-container {
  margin-bottom: 3.25rem;
  justify-content: center;
}

.newsletter-header {
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.newsletter-logo {
  position: absolute;
  top: -66px;
  height: 134px;
}

.newsletter-left-decoration {
  position: absolute;
  top: -66px;
  left: 258px;
  height: 134px;
}

.newsletter-right-decoration {
  position: absolute;
  top: -66px;
  right: 258px;
  height: 134px;
}

.form {
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin-top: 3.25rem;
  color: #161616;
  font-style: 'gilroy-medium';
}

.input{
  width: 390px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button {
  width: 241px;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  background-color: #EE1A64;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

button, input[type="submit"], input[type="text"] {
  border: none;
  outline: none;
}

input[type="text"] {
  font-size: 14px;
  padding: 0px 26px;
}