@import './colors.scss';

// Body Text 

$font-weights: (
  boldWeight900: 900,
  boldWeight600: 600,
  boldWeight500: 500,
  boldWeight300: 300,
  lightWeight100: 100,
);

$text-line-heights: (
  headingOneBig: 7rem,
  headingOne: 3rem,
  aside: 2.2rem,
  headingTwoBig: 4.5rem,
  headingTwo: 2rem,
  headingThree: 1.5rem,
  headingFour: 1.3rem,
  smallParagraph: 0.8rem,
  paragraphSmall: 1rem,
);

$text-sizes: (
  headingOneBig: 4.5rem,
  headingOne: 2.8rem,
  headingTwoBig: 4rem,
  headingTwo: 1.9rem,
  headingThree: 1.6rem,
  headingFour: 1.3rem,
  authorName: 1.2rem,
  paragraph: 1.1rem,
  smallParagraph: 0.9rem,
  paragraphSmall: 0.7rem,
);

$text-colors: (  
  black: $black,
  blueTwo: $blueTwo,
  grayTwo: $grayTwo,
  neutral100: $neutral100,
  defaultGray: $defaultGray,
  grayThree: $grayThree,

);

//---- TEXT ----

@mixin text__heading__one {
  font-size: map-get($map: $text-sizes, $key: headingOne);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingOne);
}

@mixin text__heading__two {
  font-size: map-get($map: $text-sizes, $key: headingTwo);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingTwo);
}

@mixin text__heading__three {
  font-size: map-get($map: $text-sizes, $key: headingThree);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingThree);
}

@mixin text__heading__four {
  font-size: map-get($map: $text-sizes, $key: headingFour);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingFour);
}

@mixin text__paragraph {
  font-size: map-get($map: $text-sizes, $key: paragraph);
  line-height: map-get($map: $text-line-heights, $key: headingTwo);
}

@mixin text__paragraph__bold {
  font-size: map-get($map: $text-sizes, $key: authorName);
  font-weight: map-get($map: $font-weights, $key: boldWeight600);
  line-height: map-get($map: $text-line-heights, $key: headingTwo);
}

@mixin text__label__bold {
  font-size: map-get($map: $text-sizes, $key: paragraph);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingFour);
}

@mixin text__paragraph__two {
  font-size: map-get($map: $text-sizes, $key: authorName);
  line-height: map-get($map: $text-line-heights, $key: aside);
}

@mixin text__heading__one__big {
  font-size: map-get($map: $text-sizes, $key: headingOneBig);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingOneBig);
}

@mixin text__heading__two__big {
  font-size: map-get($map: $text-sizes, $key: headingTwoBig);
  font-weight: map-get($map: $font-weights, $key: lightWeight100);
  line-height: map-get($map: $text-line-heights, $key: headingTwoBig);
}

@mixin text__small__paragraph {
  font-size: map-get($map: $text-sizes, $key: smallParagraph);
  line-height: map-get($map: $text-line-heights, $key: smallParagraph);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
}
@mixin text__paragraph__small {
  font-size: map-get($map: $text-sizes, $key: paragraphSmall);
  line-height: map-get($map: $text-line-heights, $key: paragraphSmall);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
}

@mixin text__placeholder {
  font-size: map-get($map: $text-sizes, $key: paragraphSmall);
  line-height: map-get($map: $text-line-heights, $key: paragraphSmall);
  font-weight: map-get($map: $font-weights, $key: lightWeight100);
}

@mixin text__link__blog {
  font-size: map-get($map: $text-sizes, $key: pragraph);
  line-height: map-get($map: $text-line-heights, $key: headingTwo);
  font-weight: map-get($map: $font-weights, $key: boldWeight500);
}

//---- COLOR ---

@mixin color-styles {
  @each $color in map-keys($text-colors) {
    &__#{$color} {
      color: map-get($text-colors, $color);
      @content;
    }
  }
}

.text {
  &__heading__one {
    @include color-styles {
      @include text__heading__one;
    }
  }
  &__heading__two {
    @include color-styles {
      @include text__heading__two;
    }
  }
  &__heading__three {
    @include color-styles {
      @include text__heading__three;
    }
  }
  &__heading__four {
    @include color-styles {
      @include text__heading__four;
    }
  }
  &__paragraph {
    @include color-styles {
      @include text__paragraph;
    }
  }
  &__paragraph__bold {
    @include color-styles {
      @include text__paragraph__bold;
    }
  }
  &__label__bold {
    @include color-styles {
      @include text__label__bold;
    }
  }
  &__paragraph__two {
    @include color-styles {
      @include text__paragraph__two;
    }
  }
  &__heading__one__big {
    @include color-styles {
      @include text__heading__one__big;
    }
  }
  &__heading__two__big {
    @include color-styles {
      @include text__heading__two__big;
    }
  }
  &__small__paragraph {
    @include color-styles {
      @include text__small__paragraph;
    }
  }
  &__paragraph__small {
    @include color-styles {
      @include text__paragraph__small;
    }
  }
  &__placeholder {
    @include color-styles {
      @include text__placeholder;
    }
  }
  &__link__blog {
    @include color-styles {
      @include text__link__blog;
    }
  }
}

