@import './colors.scss';

// Body Text 

$font-weights: (
  boldWeight900: 900,
  boldWeight600: 600,
  boldWeight300: 300,
  lightWeight100: 100,
);

$text-line-heights: (
  headingOneBig: 5.6rem,
  headingTwoBig: 4.5rem,
  headingOne: 3rem,
  headingTwoSeparated: 2rem,
  aside: 2.2rem,
  paragraph: 1.7rem,
  headingThree: 1.5rem,
  headingFour: 1.3rem,
  paragraphSmall: 1rem,
);

$text-sizes: (
  headingOneBig: 5.6rem,
  headingTwoBig: 4rem,
  headingOne: 2.5rem,
  commentTitle: 2.4rem,
  headingTwo: 1.9rem,
  headingTwoSeparated: 1.8rem,
  headingThree: 1.6rem,
  paragraph: 1.4rem,
  headingFour: 1.3rem,
  authorName: 1.2rem,
  paragraphSmall: 1rem,
  categoryBold: 0.8rem,
);

$text-colors: (  
  black: $black,
  blueTwo: $blueTwo,
  grayTwo: $grayTwo,
  neutral100: $neutral100,
  defaultGray: $defaultGray,
  grayThree: $grayThree,
  grayFour: $grayFour,
  grayFive: $grayFive,
  xlPink: $xlPink,
);

//---- TEXT ----

@mixin text__heading__one {
  font-size: map-get($map: $text-sizes, $key: headingOne);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingOne);
}

@mixin text__heading__two {
  font-size: map-get($map: $text-sizes, $key: headingTwo);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingTwoSeparated);
}

@mixin text__heading__three {
  font-size: map-get($map: $text-sizes, $key: headingThree);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingThree);
}

@mixin text__heading__four {
  font-size: map-get($map: $text-sizes, $key: headingFour);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingFour);
}

@mixin text__paragraph {
  font-size: map-get($map: $text-sizes, $key: authorName);
  line-height: map-get($map: $text-line-heights, $key: paragraph);
}

@mixin text__paragraph__bold {
  font-size: map-get($map: $text-sizes, $key: authorName);
  font-weight: map-get($map: $font-weights, $key: boldWeight600);
  line-height: map-get($map: $text-line-heights, $key: headingTwoSeparated);
}

@mixin text__label__bold {
  font-size: map-get($map: $text-sizes, $key: paragraphSmall);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingFour);
}

@mixin text__paragraph__two {
  font-size: map-get($map: $text-sizes, $key: authorName);
  line-height: map-get($map: $text-line-heights, $key: aside);
}

@mixin text__heading__one__big {
  font-size: map-get($map: $text-sizes, $key: headingOneBig);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingOneBig);
}

@mixin text__heading__two__big {
  font-size: map-get($map: $text-sizes, $key: headingTwoBig);
  font-weight: map-get($map: $font-weights, $key: lightWeight100);
  line-height: map-get($map: $text-line-heights, $key: headingTwoSeparated);
}

@mixin text__heading__two__separated {
  font-size: map-get($map: $text-sizes, $key: headingTwoSeparated);
  line-height: map-get($map: $text-line-heights, $key: headingTwoSeparated);
  font-weight: map-get($map: $font-weights, $key: boldWeight300);
}

@mixin text__paragraph__small {
  font-size: map-get($map: $text-sizes, $key: paragraphSmall);
  line-height: map-get($map: $text-line-heights, $key: paragraphSmall);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
}

@mixin text__placeholder {
  font-size: map-get($map: $text-sizes, $key: paragraphSmall);
  line-height: map-get($map: $text-line-heights, $key: paragraphSmall);
  font-weight: map-get($map: $font-weights, $key: lightWeight100);
}

@mixin text__link__blog {
  font-size: map-get($map: $text-sizes, $key: authorName);
  line-height: map-get($map: $text-line-heights, $key: headingTwoSeparated);
  font-weight: map-get($map: $font-weights, $key: boldWeight500);
}

@mixin text__comment__title {
  font-size: map-get($map: $text-sizes, $key: commentTitle);
  line-height: map-get($map: $text-line-heights, $key: headingOne);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
}

@mixin text__big__links {
  font-size: map-get($map: $text-sizes, $key: authorName);
  font-weight: map-get($map: $font-weights, $key: boldWeight300);
}

@mixin text__category__bold {
  font-size: map-get($map: $text-sizes, $key: categoryBold);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: headingTwoSeparated);
}

@mixin text__filter {
  font-size: map-get($map: $text-sizes, $key: authorName);
  font-weight: map-get($map: $font-weights, $key: boldWeight900);
  line-height: map-get($map: $text-line-heights, $key: aside);
}

@mixin text__header__categories {
  font-size: map-get($map: $text-sizes, $key: headingTwoSeparated);
  font-weight: map-get($map: $font-weights, $key: boldWeight600);
  line-height: map-get($map: $text-line-heights, $key: headingOne);
}

//---- COLOR ---

@mixin color-styles {
  @each $color in map-keys($text-colors) {
    &__#{$color} {
      color: map-get($text-colors, $color);
      @content;
    }
  }
}

.text {
  &__heading__one {
    @include color-styles {
      @include text__heading__one;
    }
  }
  &__heading__two {
    @include color-styles {
      @include text__heading__two;
    }
  }
  &__heading__three {
    @include color-styles {
      @include text__heading__three;
    }
  }
  &__heading__four {
    @include color-styles {
      @include text__heading__four;
    }
  }
  &__paragraph {
    @include color-styles {
      @include text__paragraph;
    }
  }
  &__paragraph__bold {
    @include color-styles {
      @include text__paragraph__bold;
    }
  }
  &__label__bold {
    @include color-styles {
      @include text__label__bold;
    }
  }
  &__paragraph__two {
    @include color-styles {
      @include text__paragraph__two;
    }
  }
  &__heading__one__big {
    @include color-styles {
      @include text__heading__one__big;
    }
  }
  &__heading__two__big {
    @include color-styles {
      @include text__heading__two__big;
    }
  }
  &__heading__two__separated {
    @include color-styles {
      @include text__heading__two__separated;
    }
  }
  &__paragraph__small {
    @include color-styles {
      @include text__paragraph__small;
    }
  }
  &__placeholder {
    @include color-styles {
      @include text__placeholder;
    }
  }
  &__link__blog {
    @include color-styles {
      @include text__link__blog;
    }
  }
  &__comment__title {
    @include color-styles {
      @include text__comment__title;
    }
  }
  &__big__links {
    @include color-styles {
      @include text__big__links;
    }
  }
  &__category__bold {
    @include color-styles {
      @include text__category__bold;
    }
  }
  &__filter {
    @include color-styles {
      @include text__filter;
    }
  }
  &__header__categories {
    @include color-styles {
      @include text__header__categories;
    }
  }
}

