@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  src: url("../fonts/Gilroy-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: work-sans;
  src: url("../fonts/WorkSans-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: work-sans;
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: fira-code;
  src: url("../fonts/FiraCode-Bold.ttf");
  font-weight: 700;
}
