@import "/src/css/typography.css";

$primary-font-family: "gilroy";
$primary-font: $primary-font-family, sans-serif;

$link-font-family: "gilroy-bold";
$link-font: $link-font-family, serif;

$blog-font-family: "work-sans";
$blog-font: $blog-font-family, serif;

$link-blog-font-family: "work-sans-bold";
$link-blog-font: $link-blog-font-family, serif;

$code-font-family: "fira-code-bold";
$code-font: $code-font-family, serif;

