@import "../../css/colors.scss";

.container {
  justify-content: center;
  display: flex;
  overflow: hidden;
  height: 40vh;
  background-color: $darkOne;
  flex-direction: column;
  align-items: center;
}
