@import "../../css/variables.scss";
@import "../../css/text-styles.scss";

// Containers

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2.2rem;
}

.image {
  width: 30%;
  object-fit: cover;
  border-radius: 0.625rem;
  margin-right: 2.5rem;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: $primary-font;
  font-weight: 700;

  a {
    @extend .text__filter__blueTwo;
    text-decoration: none;
    width: 90%;
    margin-bottom: 5%;
  }
}

.category {
  @extend .text__category__bold__neutral100;
  border: 1.5px solid $neutral100;
  background-color: $xlPink;
  height: 1.8rem;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
