@import "../css/typography.css";

body {
    font-family: 'gilroy', serif;
}

.navMenu {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}

.navMenuItem {
    margin-left: 50px;
    color: #fff;
    display: inline-block;
}
.footerCol {
    width: 20%;
}

.desktopLogo {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .desktopLogo{
        display: none;
    }
    .footerCol {
        width: 30%;
    }
}
