@import "../css/typography.css";
@import "../css/colors.scss";

body {
  font-family: 'gilroy', serif;
}

.blogBanner {
  background-image: url("../../static/images/banner-blog/banner-desktop.png");
}

.homeBanner {
  background-image: url("../../static/images/home-banner/home-banner-desktop.png");
}

.homeBanner, .blogBanner {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 63.6rem;
}

.navMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerCol {
  width: 20%;
}

.desktopLogo {
  width: 20%;
}

@media screen and (max-width: 768px) {
  
  .desktopLogo{
    display: none;
  }

  .footerCol {
    width: 30%;
  }

  .blogBanner {
    background-image: url("../../static/images/banner-blog/banner-movile.png");
  }

  .homeBanner {
    background-image: url("../../static/images/home-banner/home-banner-mobile.png");
    min-width: 23.4rem;
  }
}
