@import "../css/colors.scss";
@import "../css/variables.scss";

body {
  font-family: $primary-font, serif;
}

.homeBanner {
  background-image: url("../../static/images/home-banner/home-banner-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center center;
  height: 47rem;
  max-height: 47rem;
}

.navMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerCol {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}

.desktopLogo {
  width: 20%;
}

.mobileBanner {
  background-color: $blueSix;
}

.filterContainer {
  margin: 6% 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filterElement {
  list-style: none;
  margin: 0 2.8125rem;
  font-family: $primary-font, serif;
  text-decoration: none;
  letter-spacing: 1px;
}

.filterElement:hover {
  cursor: pointer;
}

.selectedLink {
  color: $xlPink;
  min-width: 3rem;
  border-bottom: 4px solid $xlPink;
  text-align: center;
}

.socialBottom {
  display: flex;
  flex-direction: row;
  position: static;
  align-items: center;
  width: 100%;
  z-index: 0;
  justify-content: end;
}

.blogIcons {
  a {
    display: flex;
    align-items: center;
    margin: 0.7rem;
  }
}

.logoMobile {
  display: none;
}

.columnFooter {
  display: flex;
  flex-direction: column;
  width: auto;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.columnSocialContainer {
  display: flex;
  flex-direction: row;
  margin-left: 12.5rem;
  width: 65%;
}

.socialFirst {
  margin-right: 12.5rem;
}

.socialElementContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: auto;
}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: xxl)) {
  .homeBanner {
    background-image: url("../../static/images/home-banner/home-banner-desktop-small.png");
    height: 33rem;
    background-position-y: 3rem;
  }
}

@media screen and (max-height: map-get($map: $screen-breakpoint, $key: md)) {
  .homeBanner {
    background-image: url("../../static/images/home-banner/home-banner-desktop-small.png");
    min-width: 22.4rem;
    max-height: 40rem;
    background-size: none;
  }

  .filterContainer {
    flex-wrap: wrap;
  }

  .filterElement {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: map-get($map: $screen-breakpoint, $key: xs)) {
  
  .desktopLogo{
    display: none;
  }

  .homeBanner {
    background-image: url("../../static/images/home-banner/home-banner-mobile.png");
    min-width: 22.4rem;
    max-height: 54rem;
    background-position: center;
    background-size: none;
    height: 46rem;
  }

  .filterContainer {
    overflow-x: scroll;
    flex-wrap: unset;    
    justify-content: unset;
  }

  .filterElement {
    margin: 1.3rem;
  }

  .socialBottom {
    width: 70%;

    svg {
      width: 1.1rem;
    }
  }

  .blogIcons {
    a {
      margin: 0.4rem;
    }
  }

  .columnSocialContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    margin-left: 2rem;
  }

  .socialFirst {
    margin-right: 3rem;
  }

  .socialElementContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-top: 3rem;
  }

  .footerMobileLogo {
    width: 65%;
  }

  .selectedLink {
    min-width:auto
  }
}
