@import '/src/css/colors.scss';
@import '/src/css/text-styles.scss';

.containerTitleHome {
  margin: 10rem 0 0 11rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}

.textContainer {
  display: flex;
  width: 41rem;

  h2 {
    margin: 0;
  }
}

.polygonContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  left: 32rem;
  top: 33.5rem;
}

.iconPolygonOne {
  margin: 0 0.5rem 0 0.5rem;
  fill: $xlPink;
}

.iconPolygonTwo {
  fill: $xlPinkTwo;
}

@media only screen and (max-width: 768px) {

  .containerTitleHome {
    margin: 2.5rem 0 0 1.5rem;
    width: auto;

    h1 {
      @include text__heading__one;
      line-height: 0;
      margin-bottom: 2.4rem;

    }

    h2 {
      @include text__heading__two;
      text-indent: 2rem;
    }

    .iconStar {
      display: none;
    }
  }

  .textContainer {
    max-width: 20.5rem;
  }

  .polygonContainer {
    left: 12.5rem;    
    top: 15rem;

    .iconPolygonOne, .iconPolygonTwo {
      max-width: 1.5rem;
      max-height: 1.5rem;
      margin: 0;
    }

  }
  
}
