@import "/src/css/colors.scss";

.pagerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px 40%;
}

.pagerLink {
  text-decoration: none;
  color:  $default-gray;
}

.disabledPagerLink {
  text-decoration: none;
  color:  $disabled-gray;
  cursor: not-allowed;
}

.selectedPage {
  text-decoration: none;
  color:  $xl-pink;
}
