@import "/src/css/colors.scss";

.pagerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px 40%;
}

.pagerLink {
  text-decoration: none;
  color:  $defaultGray;
}

.disabledPagerLink {
  text-decoration: none;
  color:  $disabledGray;
  cursor: not-allowed;
}

.selectedPage {
  text-decoration: none;
  color:  $xlPink;
}

@media screen and (max-width: 768px) {
  .pagerContainer {
    margin: 80px 9%;
  }
}
